#task-create{
    margin-top: 20px;
    border: 2px solid rgba(0, 0, 0, 0.13);
    width: 500px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
    margin-left: auto;
    margin-right: auto;
}
#before-click{
    padding: 8px;
    cursor:pointer
}
#h6-before-task{
    color: rgba(0, 0, 0, 0.651);
    margin: 0;
}
#after-click{
    padding: 10px;
    gap: 10px;
    flex-direction: column;
    display: none;
}
.notesinp{
    max-width: 100%;
    border: none;
    outline: none;
}
#Description_inp{
    min-height: 100px;
}
#task-create-alert{
    display: none;
    margin-top: 20px;
    margin-bottom: 5px;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    width: 300px;   
    margin-left: auto;
    margin-right: auto;
    color: rgb(243, 0, 0);
    background-color: rgba(255, 0, 0, 0.178);
    color: rgb(150, 243, 0);
    background-color: rgba(179, 255, 0, 0.178);
}

#all-task{
    margin: 30px 10px;
    display: flex;
    justify-content: start;
    word-wrap: break-word;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px;
}
#one-task{
    padding: 10px 10px 0px 10px;
    max-width: 300px;
    /* height: 250px; */
    overflow: auto;
    border: 1px solid rgba(0, 0, 0, 0.13);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.459);
    /* box-shadow: 0px 2px 15px rgb(0 0 0 / 10%); */
}
#task-title{
   
}
.bold{
    font-weight: bolder;
}
#task-detail{
    color: black;    
}
#task-status{
    margin: 10px 0px 10px 0px;
    color: black;    
    
}
#task-status span{
    color: black;    
}